---
import NavEl from "./NavEl.astro";
---

<nav class="w-full">
  <ul class="flex justify-between">
    <NavEl href="/" text="Il podcast" />
    <NavEl href="/episodes" text="Episodi" />
    <NavEl href="/about-us" text="Chi siamo" />
  </ul>
</nav>
