---
import NavEl from "./NavEl.astro";
---

<nav>
  <ul class="flex justify-center items-center gap-12">
    <NavEl href="/" text="Oggi fa bora" />
    <NavEl href="/about-us" text="Chi siamo" />
    <NavEl href="/episodes" text="Episodi" />
  </ul>
</nav>
