---
import Layout from "../layouts/Layout.astro";
const about = {
  title: "Il podcast che racconta le realtà che fanno vivere Trieste!",
  description:
    "Teresa Codaglio e Nicholas Pellizer ti portano ogni mese alla scoperta di chi lavora dietro le quinte della città e del suo territorio. Storie di persone, associazioni e organizzazioni che, magari lontano dai riflettori, contribuiscono ogni giorno al funzionamento e alla crescita della comunità. ",
};
---

<Layout>
  <article>
    <header>
      <h2 class="font-extrabold">{about.title}</h2>
    </header>
    <p>
      {about.description}
    </p>
  </article>
</Layout>
