---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";

import { siteInfo, socialLinks } from "../data/site-info";
import type { PageInfo } from "../types";

const meta: PageInfo = {
  title: `${siteInfo.title} - Chi siamo`,
  description: "Le menti triestine dietro al podcast indipentente Oggi fa bora",
};
---

<Layout meta={meta}>
  <article class="flex flex-col gap-4">
    <header>
      <h2>Chi siamo</h2>
    </header>
    <p>
      <em>Oggi fa bora</em> è un podcast indipendente ideato e condotto da Teresa
      Codaglio e Nicholas Pellizer. Nasce dal desiderio di raccontare le tante realtà
      che ogni giorno fanno funzionare Trieste: persone, enti, associazioni e organizzazioni,
      a volte conosciute a volte meno, ma che contribuiscono a tenere viva la città.
    </p>
    <p>
      Intervistiamo chi lavora per il bene della comunità. Abbiamo un debole in
      particolare per le <span class="text-primary-800">realtà pubbliche</span>:
      perchè crediamo che siano nostre e che sia un peccato non conoscerle.
    </p>
    <p>
      Restate aggiornati seguendo il nostro <Link
        href={socialLinks.find((s) => s.name === "Instagram")?.url || "#"}
        >Instagram</Link
      >, che poi ci potete anche contattare da li. E se volete scriverci una
      lettera lunga potete farlo all'indirizzo <Link
        href=`mailto:${siteInfo.email}`>{siteInfo.email}</Link
      >
    </p>
  </article>
</Layout>
