---
import Layout from '../layouts/Layout.astro'
const about = {
  
  title: 'Il podcast che racconta le realtà che fanno vivere Trieste!',
  description: 'Nicholas Pellizer e Teresa Codaglio ti portano ogni mese alla scoperta di chi lavora dietro le quinte della città e del suo territorio. Storie di persone, associazioni e organizzazioni che, magari lontano dai riflettori, contribuiscono ogni giorno al funzionamento e alla crescita della comunità. '
}
---
<Layout>
<section>
  <h2>{about.title}</h2>
  <p>
  {about.description}
 </p>
  
</section>
</Layout>
