---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import EpisodeLink from "../components/EpisodeLink.astro";
const episodes = await getCollection("episodes");
---

<Layout>
  <article>
    <h2>Episodi</h2>
    <ol>
      {
        episodes
          .sort((e) => e.data.id)
          .map((e) => (
            <li class="my-2 underline hover:text-red-600">
              <EpisodeLink episode={e.data} id={e.id} />
            </li>
          ))
      }
    </ol>
  </article>
</Layout>
