---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import EpisodeLink from "../components/EpisodeLink.astro";
const episodes = await getCollection("episodes");
---

<Layout>
  <article>
    <h2>Episodi</h2>
    <ol>
      {
        episodes.map((e) => (
          <li>
            <EpisodeLink order={e.id} episode={e.data} id={e.id} />
          </li>
        ))
      }
    </ol>
  </article>
</Layout>
