---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const episodes = await getCollection("episodes");
---

<Layout>
  <article>
    <h2>Episodi</h2>
    <ul>
      {
        episodes.map((e) => (
          <li>
        <a href=`/episodes/${e.id}`>{e.data.title}</a>
          </li>
        ))
      }
    </ul>
  </article>
</Layout>
