---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import type { PageInfo } from "../types";
const episodes = await getCollection("episodes");
const meta: PageInfo = {
  title: "Episodi",
  description: "Episodi del podcast Oggi fa bora",
};
---

<Layout meta={meta}>
  <article>
    <h2>Episodi</h2>
    <ol>
      {
        episodes
          .sort((e) => e.data.id)
          .reverse()
          .map((e) => (
            <li class="my-2">
              <Link href={`/episodes/${e.id}`}>
                {e.data.id}. {e.data.title}
              </Link>
            </li>
          ))
      }
    </ol>
  </article>
</Layout>
