---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import logo from "../assets/logo.webp";
---

<Layout>
  <div>
    <section>
      <h2>Oggi fa bora</h2>
      <p>
        Il podcast che ti racconta quello che fa muovere Trieste e i suoi
        dintorni.
      </p>
      <p>
        Ascoltaci su <a
          href="https://open.spotify.com/show/21XphXWp2fuYShhpgzs6pN"
          class="underline px-2 bg-trieste-red-800 text-astronaut-50">Spotify</a
        >, e sulle principali piattaforme di podcast.
      </p>
      <Image src={logo} alt="Oggi fa bora" class="mt-4 w-auto rounded-lg" />
    </section>
  </div>
</Layout>
