---
import type { Episode } from "../content.config";
interface Props {
  episode: Episode;
  id: string;
}
const { episode, id } = Astro.props;

const title = `${episode.id}. ${episode.title}`;
---

<a href={`/episodes/${id}`}> {title} </a>
