---
export interface Props {
  href: string;
  target?: string;
  rel?: string;
  className?: string;
}

const { href, target, rel, className } = Astro.props;
const isExternal = href.startsWith("http");
const defaultRel = isExternal ? "noopener" : undefined;
const defaultClass = `inline-block text-primary-700 underline hover:no-underline`;
---

<a
  href={href}
  target={target ?? (isExternal ? "_blank" : "_self")}
  rel={rel ?? defaultRel}
  class={className ?? defaultClass}
  ><slot />
</a>
